@use "./base.scss";
// put your custom CSS here!
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

button.folder-button {
  text-transform: uppercase;
}

#explorer-content ul li > a {
  font-weight: 400;
}

p{

    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none!important;
}
